* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.holder {
    min-height: 100vh;
    /* color: white; */
    background: linear-gradient(to bottom, white, #999);
}
.Header {
    /* box-shadow: -1px -1px 6px orange inset; */

    background: linear-gradient(to top, black, #444);
    /* background: linear-gradient(to right, #9753a0, #3554a6); */
}
.Header * {
    color: white;
}
.Header a {
    text-decoration: none;
}
.Header a:hover {
    color: #aaa;
}
.form-holder input,
.form-holder select {
    border-color: black;
}
.form-holder {
    position: absolute;
    width: 40%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
form {
    padding: 60px 15px;
    background-color: black;
    border-radius: 5px;
    color: white;
}
.resize {
    width: 80% !important;
}
.back {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, white, #999);
}
#display-image {
    display: none;
    max-height: 200px;
}
#notFound{
    display: none;
}


ul {
    /* border-radius: 20px; */
    /* padding: 20px 0 !important; */
    list-style: none;
}

.holder table {
    width: 70%;
    margin: auto;
}
